body{

} 

div.bg-header{
	padding: 4vw 5vw;
	background-color: #D32F2E;
	position: -webkit-sticky;
	position: sticky;
	z-index: 10;
	top: 0;
	color: #fff;
	width: 100vw;
}
.bg-header h3{
	display: inline;
	font-size: 20px;
}
.bg-header span{
	font-size: 20px;
	font-weight: 100;
}






/*Home Page*/
#homeCarousel img{
	width: 100vw;
	height: 50vw;
}
.carousel-indicators li{
	height: 5px;
	width: 5px;
	border-width: 0;
	z-index: 1;
	background-color: #ccc;
}
.carousel-indicators li.active{
	height: 8px;
	width: 8px;
	background-color: #D32F2E !important;
}

div.slider{
	width: 100vw;
}
div.slider h4{
	margin: 5vw 4vw 2vw 4vw;
	font-family: serif;
	font-weight: bold;
}
div.slider a.see-all{
	color: #D32F2E;
	text-decoration: none;
}
.items {
  	display: flex;
  	flex-wrap: no-wrap;
  	overflow-x: auto;
  	padding-right: 1vw;
  	margin-bottom: 5vw;
}
.slider .products {
 	flex: 0 0 auto;
  	margin-right: 10px;
  	border: #ccc 0.5px solid;
}
.slider .products img{
  	width: auto;
  	height: 100px;
  	max-width: 100%;
}
.slider .products h5{
	margin-left: 5px;
	margin-right: 5px;
	font-weight: bold;
}
.slider .products div.btn{
	width: 90%;
	margin: 5px 8px;
	font-weight: bold;
	background-color: #D32F2E !important;
}
strike{
	color: #999;
	font-weight: normal;
}
.addToCart{
	text-align: center;
	font-weight: bold;
}
/*Home Page*/



/*Cart*/
.cart-item{
	margin-top: 20px;
	margin-bottom: 20px;
	border: #ccc 1px solid;
	box-shadow: 2px 2px 2px 2px #ccc;
}
.cart-item img{
	width: 80px;
	height: 80px;
	margin-top: 5px;
	margin-bottom: 5px;
}
.product-name{
	font-weight: bold;
}
.product-price{
	display: inline;
}
.cart-item div.pull-right{
	width: 100px;
	text-align: center;
	font-weight: bold;
	border: #ccc 1px solid;
}
.glyphicon-plus, .glyphicon-minus, #count{
	margin: 2px 5px;
	font-size: 16px;
}
hr{
	height: 2px;
	background-color: #ccc;
}
.bill-details{
	margin-top: 20px;
	margin-bottom: 20px;
	border: #ccc 1px solid;
}
.bill-details h4{
	font-weight: bold;
}
.bill-details h5{
	font-size: 15px;
}
.bill-details #total{
	font-weight: bold;
	font-size: 18px;
}
/*Cart*/



/*Footer*/
footer{
	background-color: #fff;
	border-top: #ccc 2px solid;
	position: -webkit-sticky;
	position: sticky;
	z-index: 10;
	padding-top: 2vw;
	width: 100vw;
	bottom: 0 !important;
	text-align: center;
	color: #666;
}
footer a:active{
	text-decoration: none;
}
footer span.active, footer span.active ~ h5{
	color: #D32F2E;
}
footer h5{
	margin-top: 0;
	padding-top: 0;
}
/*Footer*/